title: "TITLE"
abstract: |
  TEXT
authors:
  - family-names: NAME
    given-names: NAME
    orcid: "URL"
cff-version: 1.2.0
# doi: ""
# date-released: "YYYY-MM-DD"
keywords:
  - "KEYWORD"
license: MIT
message: "Please cite us if you use this template."
repository-code: "https://github.com/{{ github_repo_spec }}"
url: "URL"
